*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
body{
    background: black;
}
.card{
    width: 60%;
    max-width: 470px;
    background: linear-gradient(150deg, blue, magenta);
    color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 30px 30px;
    text-align: center;
}
.search{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.search input{
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    background: whitesmoke;
    padding: 20px 25px;
    border: 0;
    outline: 0;
    color: #555 ;
    height: 30px;
    flex: 1;
    margin-right: 10px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: whitesmoke;
    border-radius: 50px;
    width: 60px;
    height: 30px;
    cursor: pointer;
}
.search button img{
    width: 20px;
}
.weathericon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}